.input-group, .todo-item {
  width: 60%;
  min-width: 300px;
  margin: auto;
}

.todo-item {
  background-color: #6c757d;
  color: white;
}

.todo-item .custom-checkbox {
  text-align: left;
}

.todo-item:hover {
  background-color: white;
  color: #6c757d;
  border: 2px solid #6c757d;
}

#btn-delete-item {
  vertical-align: middle;
}

#btn-delete-item:active, #btn-delete-item:hover {
  color: red;
  cursor: pointer;
}

.checked {
  text-decoration: line-through;
}
/*# sourceMappingURL=styles.css.map */