$gray: rgb(108,117,125);

%margin-center{
    width:60%;
    min-width:300px;
    margin:auto;
}


.input-group{
    @extend %margin-center;
}

.todo-item{
    @extend %margin-center;
    
    background-color: $gray;
    color:white;

    .custom-checkbox{
        text-align: left;
    }

}

.todo-item:hover{
    background-color: white;
    color:$gray;
    border:2px solid $gray;
}

#btn-delete-item{
    vertical-align: middle;
}

#btn-delete-item:active, #btn-delete-item:hover{
    color:red;
    cursor:pointer;
}

.checked{
    text-decoration: line-through;
}